<div class="col-md-4 offset-4">
  <form [formGroup]="signUpForm" #sgUpForm="ngForm">
    <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control" formControlName="Email" required>
    </div>

    <div class="alert alert-danger" *ngIf="sgUpForm.submitted && this.signUpForm.controls[email].errors">
      <div *ngIf="this.signUpForm.controls[email].errors.required">
        Email is required.
      </div>
      <div *ngIf="this.signUpForm.controls[email].errors.email">
        Incorrect Email.
      </div>
    </div> 


    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" formControlName="Name" required>
    </div>

    <div class="alert alert-danger" *ngIf="sgUpForm.submitted && this.signUpForm.controls[name].errors">
      <div *ngIf="this.signUpForm.controls[name].errors.required">
        Name is required.
      </div>
      <div *ngIf="this.signUpForm.controls[name].errors.pattern">
        Enter correct Name.
      </div>
    </div>


    <div class="form-group">
    <label>Password:</label>
      <input type="password" class="form-control" formControlName="Password" required>
    </div>

    <div class="alert alert-danger" *ngIf="sgUpForm.submitted && this.signUpForm.controls[password].errors">
      <div *ngIf="this.signUpForm.controls[password].errors.required">
        Password is required.
      </div>
      <div *ngIf="this.signUpForm.controls[password].errors.minlength">
        Password has to be at least 6 characters long.
      </div>  
    </div>


    <div class="form-group">
      <label>Confirm password:</label>
      <input type="password" class="form-control" formControlName="ConfirmPassword" required>
    </div>

    <div class="alert alert-danger" *ngIf="sgUpForm.submitted && this.signUpForm.controls[confirmPassword].errors">
      <div *ngIf="this.signUpForm.controls[confirmPassword].errors.required">
        Confirm password.
      </div>
      <div *ngIf="this.signUpForm.controls[confirmPassword].errors.minlength">
        Confirm password has to be at least 6 characters long.
      </div>   
    </div>

    <button type="submit" (click)="onSubmit()" class="btn btn-primary ml-2">Submit</button>  
  </form>
  <br>
</div>